



.t5 {margin-top:5px;}
.t10 {margin-top:10px;}
.t15  {margin-top:15px;}
.t20 {margin-top:20px;}
.t25 {margin-top:25px;}
.t30 {margin-top:30px;}
.t35 {margin-top:35px;}
.t40 {margin-top:40px;}
.t45 {margin-top:45px;}
.t50 {margin-top:50px;}
.t55 {margin-top:55px;}
.t60 {margin-top:60px;}
.t65 {margin-top:65px;}
.t70 {margin-top:70px;}
.t75 {margin-top:75px;}
.t80 {margin-top:80px;}
.t85 {margin-top:85px;}
.t90 {margin-top:90px;}
.t95 {margin-top:95px;}
.t100  {margin-top:100px;}

.l5 {margin-left:5px;}
.l10 {margin-left:10px;}
.l15  {margin-left:15px;}
.l20 {margin-left:20px;}
.l25 {margin-left:25px;}
.l30 {margin-left:30px;}
.l35 {margin-left:35px;}
.l40 {margin-left:40px;}
.l45 {margin-left:45px;}
.l50 {margin-left:50px;}
.l55 {margin-left:55px;}
.l60 {margin-left:60px;}
.l65 {margin-left:65px;}
.l70 {margin-left:70px;}
.l75 {margin-left:75px;}
.l80 {margin-left:80px;}
.l85 {margin-left:85px;}
.l90 {margin-left:90px;}
.l95 {margin-left:95px;}
.l100  {margin-left:100px;}


.r5 {margin-right:5px;}
.r10 {margin-right:10px;}
.r15  {margin-right:15px;}
.r20 {margin-right:20px;}
.r25 {margin-right:25px;}
.r30 {margin-right:30px;}
.r35 {margin-right:35px;}
.r40 {margin-right:40px;}
.r45 {margin-right:45px;}
.r50 {margin-right:50px;}
.r55 {margin-right:55px;}
.r60 {margin-right:60px;}
.r65 {margin-right:65px;}
.r70 {margin-right:70px;}
.r75 {margin-right:75px;}
.r80 {margin-right:80px;}
.r85 {margin-right:85px;}
.r90 {margin-right:90px;}
.r95 {margin-right:95px;}
.r100  {margin-right:100px;}


.b5 {margin-bottom:5px;}
.b10 {margin-bottom:10px;}
.b15  {margin-bottom:15px;}
.b20 {margin-bottom:20px;}
.b25 {margin-bottom:25px;}
.b30 {margin-bottom:30px;}
.b35 {margin-bottom:35px;}
.b40 {margin-bottom:40px;}
.b45 {margin-bottom:45px;}
.b50 {margin-bottom:50px;}
.b55 {margin-bottom:55px;}
.b60 {margin-bottom:60px;}
.b65 {margin-bottom:65px;}
.b70 {margin-bottom:70px;}
.b75 {margin-bottom:75px;}
.b80 {margin-bottom:80px;}
.b85 {margin-bottom:85px;}
.b90 {margin-bottom:90px;}
.b95 {margin-bottom:95px;}
.b100  {margin-bottom:100px;}



.pT5 {padding-top:5px;}
.pT10 {padding-top:10px;}
.pT15  {padding-top:15px;}
.pT20 {padding-top:20px;}
.pT25 {padding-top:25px;}
.pT30 {padding-top:30px;}
.pT35 {padding-top:35px;}
.pT40 {padding-top:40px;}
.pT45 {padding-top:45px;}
.pT50 {padding-top:50px;}
.pT55 {padding-top:55px;}
.pT60 {padding-top:60px;}
.pT65 {padding-top:65px;}
.pT70 {padding-top:70px;}
.pT75 {padding-top:75px;}
.pT80 {padding-top:80px;}
.pT85 {padding-top:85px;}
.pT90 {padding-top:90px;}
.pT95 {padding-top:95px;}
.pT100  {padding-top:100px;}

.pL5 {padding-left:5px;}
.pL10 {padding-left:10px;}
.pL15  {padding-left:15px;}
.pL20 {padding-left:20px;}
.pL25 {padding-left:25px;}
.pL30 {padding-left:30px;}
.pL35 {padding-left:35px;}
.pL40 {padding-left:40px;}
.pL45 {padding-left:45px;}
.pL50 {padding-left:50px;}
.pL55 {padding-left:55px;}
.pL60 {padding-left:60px;}
.pL65 {padding-left:65px;}
.pL70 {padding-left:70px;}
.pL75 {padding-left:75px;}
.pL80 {padding-left:80px;}
.pL85 {padding-left:85px;}
.pL90 {padding-left:90px;}
.pL95 {padding-left:95px;}
.pL100  {padding-left:100px;}


.pR5 {padding-right:5px;}
.pR10 {padding-right:10px;}
.pR15  {padding-right:15px;}
.pR20 {padding-right:20px;}
.pR25 {padding-right:25px;}
.pR30 {padding-right:30px;}
.pR35 {padding-right:35px;}
.pR40 {padding-right:40px;}
.pR45 {padding-right:45px;}
.pR50 {padding-right:50px;}
.pR55 {padding-right:55px;}
.pR60 {padding-right:60px;}
.pR65 {padding-right:65px;}
.pR70 {padding-right:70px;}
.pR75 {padding-right:75px;}
.pR80 {padding-right:80px;}
.pR85 {padding-right:85px;}
.pR90 {padding-right:90px;}
.pR95 {padding-right:95px;}
.pR100  {padding-right:100px;}


.pB5 {padding-bottom:5px;}
.pB10 {padding-bottom:10px;}
.pB15  {padding-bottom:15px;}
.pB20 {padding-bottom:20px;}
.pB25 {padding-bottom:25px;}
.pB30 {padding-bottom:30px;}
.pB35 {padding-bottom:35px;}
.pB40 {padding-bottom:40px;}
.pB45 {padding-bottom:45px;}
.pB50 {padding-bottom:50px;}
.pB55 {padding-bottom:55px;}
.pB60 {padding-bottom:60px;}
.pB65 {padding-bottom:65px;}
.pB70 {padding-bottom:70px;}
.pB75 {padding-bottom:75px;}
.pB80 {padding-bottom:80px;}
.pB85 {padding-bottom:85px;}
.pB90 {padding-bottom:90px;}
.pB95 {padding-bottom:95px;}
.pB100  {padding-bottom:100px;}